annotated-types==0.6.0
autocommand==2.2.2
dill==0.3.8
inflect==7.0.0
isort==5.13.2
jaraco.context==4.3.0
jaraco.env==1.0.0
jaraco.functools==4.0.0
jaraco.text==3.12.0
mccabe==0.7.0
more-itertools==10.2.0
packaging==24.0
path==16.10.0
pip-run==12.6.1
platformdirs==4.2.0
pydantic==2.6.4
pydantic_core==2.16.3
tomlkit==0.12.4
typing_extensions==4.10.0
