.register-form{
    display: flex;
    width: 100%;
    height: 90vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    form{
        display: flex;
        flex-direction: column;
        padding: 20px;
        border: 1px solid red;
        border-radius: 1em;
        h1{
            text-align: center;
        }
        .form-group{
            display: flex;
            flex-direction: column;
            padding: 0.5rem;
            .invalid-feedback{
                color: red;
            }
            input:not(input[type="checkbox"] ){
                width: 20em;
                height: 2em;
                border: none;
                border-bottom: 1px solid red;
            }
            input:focus{
                outline: none;
            }
            
            button[type="submit"] {
                width:fit-content;
                color: aliceblue;
                background-color: red;
                border: none;
                outline: none;
                align-self: center;
                padding: 0.5em 1em;
                border-radius: 0.5em;
                cursor: pointer;
            }
            &.form-check{
                flex-direction: column;
            }
        }
    }
}