.drop-container {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 20px;

    p {
        margin: 0;
    }

}

::-webkit-file-upload-button {
    display: none;
}

::file-selector-button {
    display: none;
}

input#filepicker {
    display: inline-block;
    width: 100%;
    padding: 120px 0 0 0;
    height: 100px;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698394-icon-130-cloud-upload-512.png') center center no-repeat #e4e4e4;
    border-radius: 20px;
    background-size: 60px 60px;
}

ul {
    list-style-type: none;
    padding: 0;

    li {
        margin-bottom: 10px;
    }
}

  